extends layout

block content
    div.container
        h1 Profile
        img#profileAvatar.avatar(alt="User Avatar")
        p Name:
            span#profileName
        p Email:
            span#profileEmail
        p Age:
            span#profileAge

    script(src="/javascripts/profile.js")
